<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
   <head>
      <meta charset="UTF-8">
      <title>User List</title>
      <link type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
      <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />  

   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
      <th:block th:include="/_subMenuUser"></th:block> 
      <div class="page-title">User List</div>
      
      <table border="1" style="width:100%">
            <tr>
               <th>STT</th>
               <th>UserName</th>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Email</th>
               <th>Address</th>
               <th>Phone</th>
               <th>Company</th>
               <th>Status</th>
               <th>Locked</th>
               <th></th>
               <th></th>
            </tr>
            <tr th:each ="assessorInfo : ${paginationAssessor.list}">
               <td th:utext="${assessorInfo.assessorId}">...</td>
               <td th:utext="${assessorInfo.userName}">...</td>
               <td th:utext="${assessorInfo.firstName}">...</td>
               <td th:utext="${assessorInfo.lastName}">...</td>
               <td style="word-wrap: break-word" th:utext="${assessorInfo.emailAddress}">...</td>
               <td th:utext="${assessorInfo.address}">...</td>
               <td th:utext="${assessorInfo.phone}">...</td>
               <td th:utext="${assessorInfo.companyCode}">...</td>
               <td>
               	<div th:switch="${assessorInfo.active}"> 
				  <div th:case=true>Active</div>
				  <div th:case=false>Disabled</div>
				</div>
               </td>
               <td>
               	<div th:switch="${assessorInfo.locked}"> 
				  <div th:case=true>Locked</div>
				  <div th:case=false>Not be locked</div>
				</div>               
               </td>
               <td><a th:href="@{|/admin/assessorDetail?assessorID=${assessorInfo.assessorId}|}">Edit</a></td>
               <td><a th:href="@{|/admin/setRoleAssessor?assessorID=${assessorInfo.assessorId}|}">Add Role</a></td>
            </tr>
      </table>      
       
      <br/>
      <div class="page-navigator" th:if="${paginationAssessor.totalPages > 1}">
         <th:block th:each="page : ${paginationAssessor.navigationPages}">
         
            <a th:href="@{|/userList?page=${page}|}" th:if="${page != -1}"
               class="nav-item" th:utext="${page}"></a>
               
            <span class="nav-item" th:if="${page == -1}"> ... </span>
             
         </th:block>
      </div>
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>