<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
   <head>
      <meta charset="UTF-8">
      <title>Company List</title>
      <link type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
      <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />   
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
      <th:block th:include="/_subMenuCompany"></th:block>  
      <div class="page-title">Company List</div>
      
      <table border="1" style="width:100%">
            <tr>
            	<th>Company Code</th>
            	<th>Company Name</th>               
            	<th>Address</th>
            	<th>Location</th>
            	<th></th>
            </tr>
            <tr th:each ="companyInfo : ${paginationCompany.list}">
               <td th:utext="${companyInfo.companyCode}">...</td>
               <td th:utext="${companyInfo.companyName}">...</td>               
               <td th:utext="${companyInfo.address}">...</td>
               <td th:utext="${companyInfo.location}">...</td>
               <td><a th:href="@{|/admin/companyDetail?companyId=${companyInfo.companyId}|}">Edit</a></td>
            </tr>
      </table>      
       
      <br/>
      <div class="page-navigator" th:if="${paginationCompany.totalPages > 1}">
         <th:block th:each="page : ${paginationCompany.navigationPages}">
         
            <a th:href="@{|/companyList?page=${page}|}" th:if="${page != -1}"
               class="nav-item" th:utext="${page}"></a>
               
            <span class="nav-item" th:if="${page == -1}"> ... </span>
             
         </th:block>
      </div>
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>