<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />     
      <style>
         th, td {
         padding: 5px;
         }
         td span  {
         font-size:90%;
         font-style: italic;
         color: red;
         }
         .error {
         color: red;
         font-style: italic;
         }
      </style>
   </head>
   <body>
      <!-- Include _menu.html -->
      <th:block th:include="/_header"></th:block>
      	<th:block th:include="/_menu"></th:block>
      	<th:block th:include="/_subMenuCompany"></th:block>

      <div class="page-title">Company Details</div> 
      
      <div th:if="${errorMessage != null}"
           th:utext="${errorMessage}" class="error">...</div>
       
      <form th:action="@{/admin/companyDetail}" th:object="${companyForm}" method="POST">
         <table>
            <tr>
               <td align="left">Company Code</td>
               <td align="left"><input type="text" th:field="*{companyCode}" /><input type="text" th:field="*{companyId}" style="display:none"/></td>
               <td>
                  <span th:if="${#fields.hasErrors('companyCode')}" th:errors="*{companyCode}">..</span>
               </td>
            </tr>
            <tr>
               <td align="left">Company Name</td>
               <td align="left"><input type="text" th:field="*{companyName}" /> </td>
               <td>
                  <span th:if="${#fields.hasErrors('companyName')}" th:errors="*{companyName}">..</span>
               </td>
            </tr>
            <tr>
               <td align="left">Address</td>
               <td align="left"><input type="text" th:field="*{address}" /> </td>
            </tr>
            <tr>
               <td align="left">Location</td>
               <td align="left"><input type="text" th:field="*{location}" /> </td>
            </tr>                     
            
            <tr>
               <td colspan="3" align="left">
                  <input type="submit" value="Save" />
                  <input type="reset" value="Reset" />
                  <input type="button" onclick="location.href='/companyList'" value="Back To List" />
               </td>
            </tr>
         </table>
      </form>
      <th:block th:include="/_footer"></th:block> 
   </body>
</html>