<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />     
    <link rel="stylesheet" type="text/css" th:href="@{/css/chosen.css}"/> 
	      <link rel="stylesheet" href="../../static/vendor/jquery-ui/jquery-ui.css"
	              th:href="@{/vendor/jquery-ui/jquery-ui.css}"/> 
      <script type="text/javascript" src="../../static/vendor/jquery-ui/jquery.js"
	                th:src="@{/vendor/jquery/jquery.js}"></script> 
	  <script type="text/javascript" src="../../static/vendor/jquery-ui/jquery-ui.js"
	                th:src="@{/vendor/jquery-ui/jquery-ui.js}"></script>
	  <script type="text/javascript" src="../../static/js/chosen.jquery.js"
	                th:src="@{/js/chosen.jquery.js}"></script>  
	  <script type="text/javascript">
		$(function() {
		    $(".chzn-select").chosen();
		});
		</script>  
      <style>
         th, td {
         padding: 5px;
         }
         td span  {
         font-size:90%;
         font-style: italic;
         color: red;
         }
         .error {
         color: red;
         font-style: italic;
         }
      </style>
   </head>
   <body>
      <!-- Include _menu.html -->
     <th:block th:include="/_header"></th:block>
      	<th:block th:include="/_menu"></th:block>
      	<th:block th:include="/_subMenuUser"></th:block>

      <div class="page-title">Set User Roles</div> 
      
      <div th:if="${errorMessage != null}"
           th:utext="${errorMessage}" class="error">...</div>
       
      <form th:action="@{/admin/setRoleAssessor}" th:object="${raForm}" method="POST">
         <table>
            <tr>
               <td align="left">Username</td>
               <td align="left"><input type="text" th:field="*{userName}" /></td>
               <td>
                  <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">..</span>
               </td>
            </tr>
			<tr>
               <td align="left">Roles</td>
               <td align="left">
                  <select id="listRoles" class="chzn-select" multiple="true" style="width:400px;" th:field="*{rolesID}">
                     <!-- <option value=""> -- </option> -->
                     <option th:each="role : ${roles}"
                        th:value="${role.roleID}"
                        th:utext="${role.roleName}"/>
                  </select>
            </tr>       
            
            <tr>
               <td colspan="3" align="left">
                  <input type="submit" value="Assign" />
                  <input type="button" onclick="location.href='/assessorList'" value="Back To List" >
               </td>
            </tr>
         </table>
      </form>
      <th:block th:include="/_footer"></th:block> 
   </body>
</html>