<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <title th:utext="${title}"></title>
      <link type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
      <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />     
      <script th:src="@{/jquery/jquery.min.js}"></script>  
      <script th:src="@{/popper/popper.min.js}"></script>  
      <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>  
      <style>
         th, td {
         padding: 5px;
         }
         td span  {
         font-size:90%;
         font-style: italic;
         color: red;
         }
         .error {
         color: red;
         font-style: italic;
         }
      </style>
   </head>
   <body>
      <!-- Include _menu.html -->
      <th:block th:include="/_header"></th:block>
      	<th:block th:include="/_menu"></th:block>
      	<th:block th:include="/_subMenuTool"></th:block>

      <div class="page-title">Tool Detail</div> 
      
      <div th:if="${errorMessage != null}"
           th:utext="${errorMessage}" class="error">...</div>
       
      <form th:action="@{/admin/toolDetail}" th:object="${toolForm}" method="POST">
         <table>
            <tr>
               <td align="left">Tool Code</td>
               <td align="left"><input type="text" th:field="*{toolCode}" /><input type="text" th:field="*{toolID}" style="display:none"/></td>
               <td>
                  <span th:if="${#fields.hasErrors('toolCode')}" th:errors="*{toolCode}">..</span>
               </td>
            </tr>
            <tr>
               <td align="left">Model</td>
               <td align="left"><input type="text" th:field="*{model}" /> </td>
            </tr>
            <tr>
               <td align="left">Barcode</td>
               <td align="left"><input type="text" th:field="*{barcode}" /> </td>
            </tr>
            <tr>
               <td align="left">Description</td>
               <td align="left"><textarea  rows="4" cols="50" th:field="*{description}"></textarea></td>
            </tr>           
            <tr>
               <td align="left">Status</td>
               <td align="left">
                  <select th:field="*{active}">
                     <option value=true>Active</option>
                     <option value=false>Disable</option>
                  </select>
               </td>
               <td>
                  <span th:if="${#fields.hasErrors('active')}" th:errors="*{active}">..</span>
               </td>
            </tr>              
            
            <tr>
               <td colspan="3" align="left">
                  <input type="submit" value="Save" />
                  <input type="reset" value="Reset" />
                  <input type="button" onclick="location.href='/ctidList'" value="Back To List" >
               </td>
            </tr>
         </table>
      </form>
      <th:block th:include="/_footer"></th:block> 
   </body>
</html>