<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
   <head>
      <meta charset="UTF-8">
      <title>CTID List</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
      <style>
	      table th, table td {
	        border: 1px solid #ccc;
		    padding: 5px;
		    width: 250px;
		    display: inline-block;
		    text-align: center;
	      }
	      .message {
	         color: blue;
	      }
	  </style>
   </head>
   <body>
      <th:block th:include="/_header"></th:block>
      <th:block th:include="/_menu"></th:block>
       
      <div class="page-title">CTID List</div>
      
      <table border="1" style="width:100%">
            <tr>
               <th>CTID Code</th>
               <th>CTID Details</th>
               <th>Status</th>
            </tr>
            <tr th:each ="toolInfo : ${paginationTool.list}">
               <td th:utext="${toolInfo.toolCode}">...</td>
               <td th:utext="${toolInfo.decription} == null ? 'None' : ${toolInfo.decription}">...</td>
               <td th:utext="${toolInfo.active} ? 'active' : 'disabled'">...</td>
            </tr>
      </table>      
       
      <br/>
      <div class="page-navigator" th:if="${paginationTool.totalPages > 1}">
         <th:block th:each="page : ${paginationTool.navigationPages}">
         
            <a th:href="@{|/toolList?page=${page}|}" th:if="${page != -1}"
               class="nav-item" th:utext="${page}"></a>
               
            <span class="nav-item" th:if="${page == -1}"> ... </span>
             
         </th:block>
      </div>
       
      <th:block th:include="/_footer"></th:block>
       
   </body>
</html>